<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<% provide(:title, "Home") %>
<!-- <h1>Pso devis</h1>
<p>
  This is the home page for the online quotes generator.
</p> -->
<section id="overlay">
  <br>
  <%= image_tag("new-logo-pso.png", id: "logo", :alt => "pso-logo" ) %>
  <br>
  <hr>
  <form id="monForm" method="post">
    <h1>TRAVAUX DE PEINTURE - DEVIS EN LIGNE</h1>
  <!--<form id="monForm" action="/form2/rec.php" method="post" >-->
      <fieldset>
          <legend>Vos Coordonnées</legend>

          <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="company">Civilité :</label>
              <select id="form_gendere" name="gender">
                <option value="Mme">Mme</option>
                <option value="Mlle">Mademoiselle</option>
                <option value="M">Monsieur</option>
              </select>
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Prénom : </label>
                <input type="text" class="form-control" placeholder="" id="firstname">
              </div>
            </div>
            <!--  col-md-6   -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Nom : </label>
                <input type="text" class="form-control" placeholder="" id="lastname">
              </div>
            </div>
            <!--  col-md-6   -->
          </div>
          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="adresse">Adresse :</label>
              <input type="text" class="form-control" placeholder="" id="adresse">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="zipcode">Code postal :</label>
              <input type="text" class="form-control" placeholder="" id="zipcode">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="city">Ville :</label>
              <input type="text" class="form-control" placeholder="" id="city">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" class="form-control" id="email" placeholder="email">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
      </fieldset>
      <fieldset>
          <legend>Adresse du chantier</legend>
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="adresse2">Adresse :</label>
                <input type="text" class="form-control" placeholder="" id="adresse2">
              </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="zip">Code postal :</label>
                <input type="text" class="form-control" placeholder="" id="zip">
              </div>
            </div>
            <!--  col-md-6   -->
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="ctiy2">Ville :</label>
                <input type="text" class="form-control" placeholder="" id="city2">
              </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Téléphone :</label>
                <input type="tel" class="form-control" id="phone" placeholder="phone">
              </div>
            </div>
      </fieldset>

      <fieldset>
      <legend>Prestations</legend>
      <fieldset>
        <legend>Plafonds</legend>
        <div class="col-md-4">
          <div class="form-group" id="fs_ceiling">
            <label for="form_ceiling" data-hasqtip="6" oldtitle="Support en placo BA13 neuf pour des plafonds de 2.50m
             Peinture de marque Plafond Dec." title="">Peinture Plafonds : </label>
            <input id="form_ceiling" oninput="calculate()" type="number" name="ceiling_m" class="calcceiling validate[required,custom[integer],min[1]] text-input" value="0" min="1" step="any" data-hasqtip="7" oldtitle="Surface habitable" title="" aria-describedby="qtip-7">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" >
            m²
            <input id="form_ceiling_price" type="text" name="ceiling_price" tabindex="-1" readonly="" value="14.5">€
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" id="eurofield">
            <label for="form_ceiling_total">Total Plafonds HT: </label>
             <input id="form_ceiling_total" type="text"  name="ceiling_total" tabindex="-1" readonly="" value="0">€
             <input type="hidden" name="forfait1e" id="forfait1e" value="0">
          </div>
        </div>
      </fieldset>
      <fieldset id="fs_wall">
      <legend>Murs</legend>
      <p class="double">
             <label for="check_walls" data-hasqtip="8" oldtitle="Support en placo BA13 neuf pour des plafonds de 2.50m" title="">Peinture Murs : </label>
             <input type="radio" id="noWall" name="check_walls" value="0" checked="true"> Pas de murs
             <input type="radio" id="allWall" name="check_walls" value="1"> Ensemble des murs
             <input type="radio" id="details" name="check_walls" value="2"> Détails
      </p>
      <p id="walls_forfait" style="display: none;">
       <!-- <label for="form_walls" title="en mode forfait la surface de references est egale a celle des plafonds">Peinture Tous les murs : </label>-->
       <select class="form_peinture" name="form_peinture">
          <option value="2:9.5">Murs Dec. Impression</option>
          <option value="3:13.5">Murs Dec. Satiné Blanc</option>
          <option value="4:15.2">Murs Dec. Satiné Pastel</option>
       </select>
       <input type="text" id="form_walls" name="walls_m" class="calcwalls" tabindex="-1" readonly="" value="0">m²
       <input type="hidden" id="form_walls_coef" name="walls_coef" tabindex="-1" readonly="" value="2.62" data-hasqtip="9" oldtitle="Le coefficient 2.62 est un standard pour évaluer la surface des murs par rapport au sol" title="">* coef Murs *
       <input type="text" id="form_walls_price" name="walls_price" tabindex="-1" readonly="" value="9.5">€ =
       <input type="text" id="form_walls_tot" name="walls_tot" tabindex="-1" readonly="" value="0">Total
      </p>

      <p id="walls_detail" style="display: none;" class="input_fields_wrap">
        <button class="add_field_button">Ajouter une pièce</button>
        <div align="center" id="todel" class="todel" style="display: none;">                 <input type="hidden" id="monid" value="2"><select class="piece" name="piece[]"><option value="1">Séjour</option><option value="2">Cuisine</option><option value="3">Chambre1</option><option value="4">Chambre2</option><option value="5">Chambre3</option><option value="6">Chambre4</option><option value="7">WC</option><option value="8">SDB1</option><option value="9">SDB2</option><option value="10">Entrée</option><option value="11">Couloir</option><option value="12">Buanderie</option><option value="13">Garage</option><option value="14">Sous-sol</option><option value="15">Autres</option>                         </select>                         <select class="peinture" name="peinture[]"><option value="2:9.5">Murs Dec. Impression</option><option value="3:13.5">Murs Dec. Satiné Blanc</option><option value="4:15.2">Murs Dec. Satiné Pastel</option>                         </select>                         <input type="number" id="form_wall" name="wall_m[]" class="calcwall validate[required,custom[integer],min[1]] text-input" value="0" min="1" step="any" data-hasqtip="12">m²                         <input type="hidden" id="form_wall_coef" name="wall_coef[]" tabindex="-1" readonly="" value="2.62" title="Le coefficient 2.62 est un standard pour évaluer la surface des murs par rapport au sol">* coef Murs *                         <input type="text" id="form_wall_price" name="wall_price[]" tabindex="-1" readonly="" value="9.5">€ =                         <input type="text" id="form_wall_tot" name="wall_tot[]" tabindex="-1" readonly="" value="0">Total&nbsp;&nbsp;&nbsp;
      </p>
      <p></p>
      <p id="eurofield">
         <label for="form_walls_total">Total Murs HT : </label>
         <input type="text" id="form_walls_total" name="walls_total" tabindex="-1" readonly="" value="0">€
      </p>
    </fieldset>
    <fieldset id="fs_service">
      <legend>Services</legend>
      <p id="eurofield">
         <label for="form_services_total" data-hasqtip="10" oldtitle="Le forfait est de 250€ pour plafonds seuls ou de 300€ pour plafonds+murs" title="">Forfait Protection des ouvrants : </label>
         <input type="text" id="form_services_total" name="services_total" tabindex="-1" readonly="" value="250">€
      </p>
    </fieldset>
    <fieldset id="totaux">
      <legend>Totaux</legend>
      <div class="col-md-6">
        <div class="form-group" id="eurofield">
          <label for="form_totalht">Total HT : </label>
          <input type="text" id="form_totalht" name="totalht" class="euro" tabindex="-1" readonly="">€
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" id="eurofield">
          <label for="form_totalttc">Total TTC : </label>
          <input type="text" id="form_totalttc" name="totalttc" class="euro" tabindex="-1" readonly="">€
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="col-md-12">
        <div class="form-group">
          <input type="checkbox" required="" name="cgv" class="validate[required] checkbox" value="ok">j'ai pris connaissance des <a target="blank" href="#">Conditions Générales de Vente</a>
        </div>
      </div>
    </fieldset>
      <p>
          <!--<label class="form_label_nostyle">&nbsp;</label> -->
          <input type="submit" id="SAVE" name="SAVE" value="Générer le devis">
      </p>
  </form>
</section>
<%= javascript_pack_tag 'custom' %>
