// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 480px;
  margin: 0 auto;
}

.quotes, .create {
  margin: 40px 0;
}

.button,
.create .actions input {
  background-color: #f2580b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
}

.quote {
  background-color: #fff;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
}

p.time {
  color: #218bbe;
  font-size: 12px;
  margin-top: 12px;
  a {
    text-decoration: none;
  }
}

.button {
  background-color: rgb(241, 115, 16);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #c24609;
  color: white;
  transition: background-color 0.5s;
  text-decoration: none;
}
