// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body.devis  {
 font-family: Rubik, Arial;
}

body{
 background-color: rgb(33, 139, 190);
 font-family: Rubik, Arial;
 font-size: 16px;
 margin-right: 0px;
 margin-left: 0pxpx;
}
body.row {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
table {
  height: 40%;
  left: 10%;
  // margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 100%;
}

thead th {
  background: rgb(33, 139, 190);
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}
ul, .adress, .corporat, .signatur {
font-family: 'Lato', sans-serif;
font-size: 16px;
list-style-type: none;
border-radius: 25px;
border: 2px solid black;
}
ul {
  padding-left: 20px;
}
.corporat, .signatur {
  color: rgb(33, 139, 190);
}
.condition1, .condition {
font-family: 'Lato', sans-serif;
font-size: 14px;
}
.adress strong {
  color: rgb(33, 139, 190);
  text-decoration:underline;
}
.condition strong {
  color: rgb(33, 139, 190);
  text-decoration:underline;
}
.sideline {
font-family: 'Lato', sans-serif;
font-size: 14px;
color: silver;
}
form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}
form hr {
  width: 15%;
}
h1 {
  text-align: center;
}
#burger {
  max-height: 30%;
}
#overlay {
  width: 80%;
  margin: 3% auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}
#logo {
  height: 100px;
  display: block;
  margin: auto;
}
.toppings label, .cheesy label {
  margin-right: 25px;
}
#p1 {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 909px;
  height: 1200px;
  border: 1px solid silver;
}
@media print {
  #pdf_link {
    display: none;
  }

  #p1 {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
}

